@tailwind base;
@tailwind components;
@tailwind utilities;

.hover-card:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: all 0.3s all;
}

.link{
    color: color(display-p3 0.276 0.384 0.837);
    text-decoration: underline;
}